#left-ear {
  transform-origin: 100px 82px;
  transition: all .5s linear;
}

#right-ear {
  transform-origin: 100px 82px;
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: rotate(100deg);
}

#bear:hover #right-ear {
  transform: rotate(100deg);
}

#left-eye {
  animation: go 3s linear infinite;
}



#right-eye {
  animation: go2 3s linear infinite;
}

@keyframes go2 {

  0% {
    transform: translate(15px);
  }

  100% {
    transform: translate(30px);
  }

}
