#left-ear {
  transform-origin: 120px 140px;
  transition: all .5s linear;
}

#right-ear {
  transform-origin: 120px 140px;
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: rotate(10deg);
}

#bear:hover #right-ear {
  transform: rotate(-10deg);
}

#left-eye {
  animation: go 3s linear infinite;
}

@keyframes go {

  0% {
    transform: translate(-15px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    transform: translate(-15px);
  }

}

#right-eye {
  animation: go2 3s linear infinite;
}

@keyframes go2 {

  0% {
    transform: translate(-15px);
  }

  50% {
    transform: translate(0);
  }

  100% {
    transform: translate(-15px);
  }

}
